

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>List of Videos</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><span class="icon icon-cog"></span><a href="#">OratoryStory</a></h1>
      <div id="menu">
        <ul>
          <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
          <li><a href="#" accesskey="2" title="">Practice Speaking</a></li>
          <li><a href="#" accesskey="3" title="">About Jason</a></li>
          <li><a href="#" accesskey="4" title="">More Resources</a></li>
          <li><a href="#" accesskey="5" title="">Contact</a></li>
          <%= form_for :user, url: logout_path, method: :delete do |f| %>
            <%= f.submit value: 'Log Out' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="wrapper" style="background:#F3F3F3">
<p>
  <strong>Title:</strong><br>
  <%= @video.title %><br>
</p>
  <strong>Video Link:</strong>
  <%= @video.video_link %><br>
<div id='speaking-practice'>
  <table width="100%">
  <tr>
  <td align="left" valign="top" width="50%">
  <video id="video" autoplay></video>
  </td>
  <td align="left" valign="top" width="50%">
    <%= VideoInfo.new(@video.video_link).embed_code.html_safe if /(https?:\/\/|www)[\S]+/.match(@video.video_link) %>
  </td>
  </tr>
  </table>
</div>


  <script>console.log('videoplay.js running')
navigator.getUserMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia;
if (navigator.getUserMedia) {
   navigator.getUserMedia({ mandatory: { "OfferToReceiveAudio": false, "OfferToReceiveVideo": true }, audio: false,
video: true },
      function(stream) {
         var video = document.querySelector('video');
         video.src = window.URL.createObjectURL(stream);
         video.onloadedmetadata = function(e) {
           video.play();
         };
      },
      function(err) {
         console.log("The following error occured: " + err.name);
      }
   );
} else {
   console.log("getUserMedia not supported");
}
</script>

<%= link_to 'Edit Video', edit_user_video_path(@user, @video) %> |
<%= link_to 'Back', user_videos_path(@user) %>
<p>
<h2>Add a review:</h2>
<%= form_for(@review, url: user_video_reviews_path(@user, @video), method: :post) do |f| %>
<!-- , url: '/users/#{@user.id}/videos/#{@video.id}/reviews' -->
  <p>
    <%= f.label :body_lang_comments %><br>
    <%= f.text_area :body_lang_comments %>
  </p>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :video_id, :value => @video.id %>
  <%= f.label :body_lang_rating %> <br>
  <%= f.text_field :body_lang_rating %> <br>
  <p>
    <%= f.label :vocal_comments %><br>
    <%= f.text_area :vocal_comments %>
  </p>
  <%= f.label :vocal_rating %> <br>
  <%= f.text_field :vocal_rating %> <br>
  <p>
    <%= f.label :content_comments %><br>
    <%= f.text_area :content_comments %>
  </p>
  <%= f.label :content_rating %> <br>
  <%= f.text_field :content_rating %> <br>
  <p>
    <%= f.label :overall_comments %><br>
    <%= f.text_area :overall_comments %>
  </p>
  <%= f.label :overall_rating %> <br>
  <%= f.text_field :overall_rating %> <br>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</p>

<h2>Reviews</h2>
<% @video.reviews.each do |review| %>
  Here is your video review:
  <p>
    <strong>Body Language Comments:</strong>
    <%= review.body_lang_comments %>
  </p>
    <strong>Body Language rating:</strong>
    <%= review.body_lang_rating %>
  <p>
    <strong>Vocal Comments:</strong>
    <%= review.vocal_comments %>
  </p>
      <strong>Vocal rating:</strong>
    <%= review.vocal_rating %>
  <p>
    <strong>Content Comments:</strong>
    <%= review.content_comments %>
  </p>
    <strong>Content rating:</strong>
    <%= review.content_rating %>
  <p>
    <strong>Overall Comments:</strong>
    <%= review.overall_comments %>
  </p>
    <strong>Overall rating:</strong>
    <%= review.overall_rating %>
<% end %>



</div>


</body>
<footer>

</footer>
</html>

