<html>
<head>
  <title>Videos Listing</title>
</head>
<body>

<h2>Videos</h2>
<% @videos.each do |video| %>
  <p>
    <strong>Video Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Video Author:</strong>
    <%= video.user_id %>
  </p>

  <p>
    <strong>Actual Video:</strong>

    <%= VideoInfo.new(video.video_link).embed_code.html_safe %>
  </p>
<% end %>

<h2>Add a Video:</h2>
<%= form_for(:video) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <%= hidden_field_tag(:user_id,value=@user.id)%>
  <p>
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



</body>
</html>
