<html>
<head>
  <title>Videos Listing</title>
</head>
<body>
<div class = 'container'>
<h2>Videos</h2>
  <h1>Hello, John!</h1>
</div>
<h2>Add a Video:</h2>
<%= form_for :video, url: user_videos_path, method: :post do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>

  <%= hidden_field_tag(:user_id,value=@user.id)%>
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
    <%= f.submit %>
<% end %>


<% @videos.each do |video| %>
  <p>
    <strong>Video Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Video Author:</strong>
    <%= video.user_id %>
  </p>

  <p>
    <strong>Actual Video:</strong>

    <%= VideoInfo.new(video.video_link).embed_code.html_safe if /(https?:\/\/|www)[\S]+/.match(video.video_link) %>
  </p>
    <td><%= link_to 'show', user_video_path(@user, video) %></td>
  <td><%= link_to 'Edit', edit_user_video_path(@user, video) %></td>
      <td><%= link_to 'Destroy', user_video_path(@user, video),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>

<% end %>



</div>
</body>
<footer>
  <%= react_component('FilterableVideoTable', {server_vids: @videos.to_json} ,{prerender: true}) %>
<div data-react-class="Videos" data-react-props= <%=  {:videos => @videos.to_json} %> >
</footer>

</html>
