<html>
<head>
  <title>Videos Listing</title>
</head>
<body>
<div class = 'container'>
<h2>Videos</h2>
  <h1>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>
</div>
<h2>Add a Video:</h2>
<%= form_for :video, url: user_videos_path, method: :post do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>  <br>

  <%= hidden_field_tag(:user_id,value=@user.id)%>
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
    <%= f.submit %>
<% end %>


<% @videos.each do |video| %>
  <p>
    <strong>Video Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Video Author:</strong>
    <%= video.user_id %>
  </p>

  <p>
    <strong>Actual Video:</strong>
    <% thumbnail = "http://img.youtube.com/vi/" + video.video_link.gsub('https://www.youtube.com/watch?v=','') + "/0.jpg"%>
    <img src=<%= thumbnail %> alt="">
  </p>

  <h3>
    <td><%= link_to 'Practice Speaking with this video!', user_video_path(@user, video) %></td><br>
  <td><%= link_to 'Edit', edit_user_video_path(@user, video) %></td><br>

      <td><%= link_to 'Destroy', user_video_path(@user, video),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
  </h3>
<% end %>



</div>
</body>
<footer>
  <%= react_component('FilterableVideoTable', @videos.to_json) %>
</footer>

</html>
