<p>
  <strong>Title:</strong><br>
  <%= @video.title %><br>
</p>
  <strong>Video Link:</strong>
  <%= @video.video_link %><br>
  <%= VideoInfo.new(@video.video_link).embed_code.html_safe if /(https?:\/\/|www)[\S]+/.match(@video.video_link) %>
</p>

<p>
</p>

<%= link_to 'Edit', edit_user_video_path(@user, @video) %> |
<%= link_to 'Back', user_videos_path(@user) %>

