<p>
  <strong>Title:</strong><br>
  <%= @video.title %><br>
</p>
  <strong>Video Link:</strong>
  <%= @video.video_link %><br>
  <%= VideoInfo.new(@video.video_link).embed_code.html_safe if /(https?:\/\/|www)[\S]+/.match(@video.video_link) %>
</p>

<p>
<h2>Add a review:</h2>
<%= form_for(@review, url: user_video_reviews_path(@user, @video), method: :post) do |f| %>
<!-- , url: '/users/#{@user.id}/videos/#{@video.id}/reviews' -->
  <p>
    <%= f.label :body_lang_comments %><br>
    <%= f.text_field :body_lang_comments %>
  </p>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :video_id, :value => @video.id %>
  <%= f.label :body_lang_rating %> <br>
  <%= f.text_field :body_lang_rating %> <br>
  <p>
    <%= f.label :vocal_comments %><br>
    <%= f.text_area :vocal_comments %>
  </p>
  <p>
    <%= f.label :content_comments %><br>
    <%= f.text_area :content_comments %>
  </p>
  <p>
    <%= f.label :overall_comments %><br>
    <%= f.text_area :overall_comments %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</p>

<h2>Reviews</h2>
<% @video.reviews.each do |review| %>
  <p>
    <strong>Reviewer:</strong>
    <%= review.body_lang_comments %>
  </p>

  <p>
    <strong>review:</strong>
    <%= review.overall_comments %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_video_path(@user, @video) %> |
<%= link_to 'Back', user_videos_path(@user) %>

