<!DOCTYPE html>
<html>
<head>
  <title>SpeakAlong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <a href="/" class="navbar-brand">SpeakAlong</a>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/about">About</a></li>
        <li><%= link_to "Logout", logout_path, method: :delete %>
        </li>
        <li><a href="/shelter">Shelter</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
<div id="header-wrapper" height="200px">
  <div id="header" class="container">
    <div class="row">
    <div id="logo">
      <h1><span class="icon icon-bullhorn"></span><a href="#">SpeakAlong</a></h1>
    </div>
    </div>
  </div>
</div>
<%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
<footer>
  <div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    <ul class="contact">
      <li><a href="http://twitter.com/selachusrex" class="icon icon-twitter"><span>Twitter</span></a></li>
      <li><a href="https://github.com/1UnboundedSentience" class="icon icon-dribbble"><span>Github</span></a></li>
      <li><a href="http://1unboundedsentience.github.io" class="icon-folder-close"><span>Portfolio</span></a></li>
    </ul>
</div>
</footer>
</html>
