<!DOCTYPE html>
<html>
<head>
  <title>SpeakAlong</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <a href="/" class="navbar-brand">SpeakAlong</a>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/about">About</a></li>
        <% if !user_logged_in? %>
          <li><%= link_to "Login", login_path %></li>
        <% else %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
        <li><%= link_to "Create Account", create_account_path %></li>
        <li><a href="/videos">Videos</a></li>
      </ul>
    </div>
  </nav>
<div id="header-wrapper" height="200px">
  <div id="header" class="container">
    <div class="row">
    <div id="logo">
      <h1><span class="icon icon-bullhorn"></span><a href="#">SpeakAlong</a></h1>
    </div>
    </div>
  </div>
</div>
<%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
<footer class="footer">

  <h5> Jason Xu </h5>
<!--   <img src="facebook-logo.png">
  <img src="twitter-logo.png">
  <img src="linkedin-logo.png"> -->
</footer>
</html>
